/* Empty. Add your own CSS if you like */

.bar.bar-stable .title {
    color: #fff;
}

.tab-item {
    color: #889aa6 !important;
}

.tab-item-active {
    color: #5cafef !important
}

.largeicon {
    font-size: 24px;
    position: relative;
    margin: 7px 13px 0px 9px;
}

.barheight {
    height: 50px;
}

.bar.bar-dark .title {
    color: #fff;
    font-size: 18px;
}

.nopadding {
    padding: 0px 0px 0px 0px
}

.list {
    position: relative;
    margin-top: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
    margin-bottom: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ccd6dd;
}

.retweeticon {
    font-size: 15px;
    color: #9aa9b3;
    margin-left: 60px;
}

.retweet {
    font-size: 14.4px;
    color: #9aa9b3;
    margin-left: 10px;
}

.onleft {
    float: left;
    max-width: 65px !important;
    max-height: 65px !important;
    height: 65px;
    border-radius: 5px;
}

.contentleft {
    float: left;
}

.item-note {
    float: right;
    color: #8f9fab;
    font-size: 14px;
    margin-right: 10px;
}

.namebold {
    font-size: 14.4px;
    font-weight: bold;
}

.namegrey {
    font-size: 14.4px;
    color: #8f9fab;
    font-weight: 300;
}

.tweetcontent {
    font-size: 14.4px;
}

.noborder {
    border-style: none;
    padding-left: 90px;
}

.bottomicons {
    float: left;
    font-size: 16px;
    color: #9aa9b3;
}

.bottomiconsright {
    float: right;
    font-size: 16px;
    color: #9aa9b3;
}

.removeline {
    text-decoration: none;
}

.imageauto {
    width: 100%;
    height: auto;
}
/*vignesh*/

.login-div {
    background-image: url('../img/blurred.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.twicolor {
    background-color: #55acee;
    color: white;
    border:none;
}

.googcolor {
    background-color: #d73d32;
    color: white;
    border:none;
}

.fbcolor {
    background-color: #3a5795;
    color: white;
    border:none;
}

.instaclor {
    background-color: #517fa4;
    color: white;
    border:none;
}
/*vignesh*/




/*jagruti css*/
.imageclass {
    background: url('../img/images.jpg')no-repeat;
    background-size: cover;
    min-height: 203px;
    position: relative;
    background-position: center;
    width: 100%;
}
.headimg img {
    position: absolute;
    height: 50%;
    left: 17%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%);
    border: 5px solid #fff;
    border-radius: 4px;
    top: 76%;
}

.whitetext {
	position: absolute;
	height: 80%;
	left: 19%;
	-webkit-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	transform: translatex(-50%);
	top: 126%;
	color: #584F4F;
	font-size: 18px;
	font-weight: bold;
}

.whitetextdown {
  position: absolute;
  height: 80px;
  left: 19%;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
  top: 139%;
  color: #584F4F;
  font-size: 15px;
}


.pullleft {
	float: right;
}
.relative{
	position: relative;

}

.relative > span {
	position: absolute;
	right: 0;
	padding: 2% 2%;
}
.border-radius{
	border-radius: 11px;
}