<ion-view view-title="Detail">
    <ion-content>
        <ion-list class="avtar">
            <ion-item class="item-remove-animate item-avatar item-icon-right removeborder" type="item-text-wrap">
                <img class="littlebig" ng-src="{{feeddetail.userpolldetail.image}}">
                <div class="contentright">

                    <span class="namebold" ng-bind="feeddetail.userpolldetail.name"></span>
                    <span class="namegrey" ng-bind="feed.nameat"></span>
                    <span class="item-note"><i class="ion-ios-paper-outline"> {{feeddetail.userpolldetail.timestamp | time}}</i></span>
                    <p class="tweetcontent">{{feeddetail.userpolldetail.content}}<a class="removeline" href="graphit.as/mozblog">graphit.as/mozblog</a>
                    </p>

                    <div class="imageset">
                        <ion-scroll direction="x">
                            <div class="row">

                                <div class="col col-33" ng-repeat="op in feeddetail.poll_images">
                                    <a href="#/tab/home/categoriess/{{slider.link}}">
                                        <img src="img/{{op.image}}" class="full-image full-img">
                                        <!--                                <p class="royal productprice">{{op.text}}</p>-->
                                    </a>
                                </div>
                            </div>
                        </ion-scroll>
                    </div>

                    <!--                    <img class="max80" ng-src="{{feed.image}}">-->
                    <div class="row nopadding">
                        <div class="col">
                            <button class="button button-icon ion-android-star bottomicons"></button>
                        </div>
                        <div class="col">
                            <button class="button button-icon ion-android-share-alt bottomicons"></button>
                        </div>
                        <div class="col" ng-click="openPopover();">
                            <button class="button button-icon ion-android-more-vertical moredot"></button>
                        </div>
                    </div>
                </div>
            </ion-item>
            <div class="row">
                <div class="col col-75">
                    <div>
                        <div class="row">Vote your Choice</div>
                        <div class="row spaceout">
                            <div class="col col-25">Yes</div>
                            <div class="col col-75">
                                <div class="team lefty" ng-style="{'width':'10%'}" ng-if="30 != '-1'"></div>
                            </div>
                        </div>
                        <div class="row spaceout">
                            <div class="col col-25">No</div>
                            <div class="col col-75">
                                <div class="team lefty" ng-style="{'width':'40%'}" ng-if="30 != '-1'"></div>
                            </div>
                        </div>
                    </div>
                    <!--                    <barhighchart obj='feeds' code="feeds"></barhighchart>-->
                </div>

                <div class="col">
                    <div class="row spaceoutmore" ng-repeat="but in feeddetail.poll_options">
                        <button class="button button-small button-assertive fullbutton" ng-click="voteMe(but)">

                            Vote
                        </button>
                    </div>
                </div>
            </div>
            <!--
            <div class="col col-75">
                    <barhighchart obj='feeds.poll_options'></barhighchart>
                </div>
-->

        </ion-list>
        <!--
        <nav mfb-menu position="br" effect="zoomin" label="hover here" active-icon="ion-edit" resting-icon="ion-plus-round" toggling-method="hover">
            <button mfb-button icon="paper-airplane" label="menu item"></button>
        </nav>
-->
    </ion-content>
</ion-view>