<ion-view>
    <ion-content>
        <div class="row">
            <img class="maximg" src="img/Coffee.jpg">
        </div>
        <div class="row">
            <div class="col nopadding">
                <a href="#/tab/dash" class="button button-icon ion-social-instagram-outline button-block instaclor logfont">
                </a>
            </div>
            <div class="col nopadding">
                <button class="button button-icon ion-social-twitter button-block twicolor logfont">
                </button>
            </div>
            <div class="col nopadding">
                <button class="button button-icon ion-social-googleplus button-block googcolor logfont">
                </button>
            </div>
            <div class="col nopadding">
                <button class="button button-icon ion-social-facebook button-block fbcolor logfont">
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>