<ion-view>
    <ion-content>
        <div class="row">
            <img class="maximg" src="img/Coffee.jpg">
        </div>
        <div class="row">
            <div class="col nopadding">
                <button class="button button-icon ion-social-instagram-outline button-block instaclor logfont" ng-click="instalogin();">
                </button>
            </div>
            <div class="col nopadding">
                <button class="button button-icon ion-social-twitter button-block twicolor logfont" ng-click="twitterlogin();">
                </button>
            </div>
            <div class="col nopadding">
                <button class="button button-icon ion-social-googleplus button-block googcolor logfont" ng-click="googlelogin();">
                </button>
            </div>
            <div class="col nopadding">
                <button class="button button-icon ion-social-facebook button-block fbcolor logfont" ng-click="fblogin();">
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>