<ion-view class="login-bg">

        <div class="padding-some text-center">
            <i class="icom-AttachLogo home-logo light"></i>
        </div>
        
        <div class="padding login-btn">
            <button class="button ion-social-facebook button-block fbcolor icon-left" ng-click="fblogin();">Login with Facebook</button>
            <button class="button ion-social-twitter button-block twicolor icon-left" ng-click="twitterlogin();">Login with Twitter</button>
            <button class="button ion-social-googleplus button-block googcolor icon-left" ng-click="googlelogin();">Login with Google+</button>
            <button class="button ion-social-instagram-outline button-block instaclor icon-left" ng-click="instalogin();">Login with Instagram</button>
        </div>

</ion-view>