<ion-modal-view>
    <ion-header-bar class="nobordersearch">

        <!--
        <h1 class="title">Create Attach</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeSearch()">Skip</button>
        </div>
-->

        <div class="bar bar-header item-input-inset makeittransparent">
            <label class="item-input-wrapper">

                <i class="icon ion-ios-search-strong placeholder-icon searchwhitebig"></i>
                <input class="searchwhite" type="search" placeholder="Search">


            </label>
            <button class="button button-icon ion-ios-close-empty" ng-click="closeSearch();">

            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item">
                Jagruti
            </li>
            <li class="item">
                Dhaval
            </li>
            <li class="item">
                Vignesh
            </li>
        </ul>
    </ion-content>