<ion-view view-title="Chats">
    <ion-content>
        <ion-list>
            <div class="list" ng-click="openUploadElements();">
                <a class="item item-icon-left lesspadleft" ng-repeat="follow in followers">
                    <img class="editprofimg" src="img/images.jpg">
                    <span class="ontop">{{follow.name}}</span>
                    <span class="ontoplight">started following you</span>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>