<ion-view view-title="Home">
    <ion-content delegate-handle="mainScroll">
        <ion-list class="avtar">
            <div class="no-connect" ng-show="shownoappliance">
                <h3>No attach yet...</h3>
            </div>
            <div class="no-connect" ng-show="showloading">
                <h3>Loading...</h3>
            </div>
            <ion-item id="item{{$index}}" class="item-remove-animate item-avatar item-icon-right removepadding" type="item-text-wrap" ng-repeat="feed in feeds">
                <img class="littlebig" ng-src="{{feed.image}}">
                <div class="contentright">
                    <div ng-click="opendetail(feed.id);">
                        <span class="namebold" ng-bind="feed.name"></span>
                        <span class="namegrey" ng-bind="feed.nameat"></span>
                        <span class="item-note"><i class="ion-ios-paper-outline"> {{feed.timestamp | time}}</i></span>
                        <p class="tweetcontent">{{feed.content}}<a class="removeline" href="graphit.as/mozblog">graphit.as/mozblog</a>
                        </p>


                        <div class="imageset">
                            <ion-scroll direction="x">
                                <div class="row">

                                    <div class="col col-33" ng-repeat="op in feed.images">
                                        <a href="#/tab/home/categoriess/{{slider.link}}">
                                            <img src="img/{{op}}" class="full-image full-img">
                                            <!--                                <p class="royal productprice">{{op.text}}</p>-->
                                        </a>
                                    </div>
                                </div>
                            </ion-scroll>
                        </div>




                        <img class="max80" ng-src="img/Google-Doodle.gif">
                    </div>
                    <div class="more" id="more{{$index}}" ng-style="{'height':feed.height}">
                        <div class="more-content">
                            <barhighchart obj='feed'></barhighchart>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col">
                            <button class="button button-icon ion-chevron-down bottomicons" ng-class="{'rotate':feed.more}" ng-click="changemore(feed,$index);"></button>
                        </div>
                        <div class="col">
                            <button class="button button-icon ion-ios-star bottomicons {{feed.isfav}}" ng-click="markasfav(feed);"></button>
                        </div>
                        <div class="col">
                            <button class="button button-icon ion-android-share-alt bottomicons"></button>
                        </div>
                        <div class="col" ng-click="openPopover();">
                            <button class="button button-icon ion-android-more-vertical moredot"></button>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>