<ion-view hide-nav-bar="true">
    <ion-content>

        <div class="imageclass"></div>

        <div class="row">
            <div class="col col-33">
                <div class="prf-img">
                    <img class="proimage" src="{{user.image}}">
                    <p class="prf-name">jagruti patil</p>
                    <p class="prf-username">@{{user.name}}</p>
                </div>
            </div>
            <div class="col">
                <div class="prf-func">
                    <div class="gearup">
                        <button class="button button-icon icon ion-gear-a gear"></button>
                        <button class="button icon ion-person-stalker border-radius people"></button>
                        <button class="button border border-radius people" ng-click="openEditProfile();">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="about">
            <p>Web Developer</p>
            <p ng-if="user.address"><i class="ion-location"></i>{{user.address}}</p>
            <a><i class="ion-link"></i>wohlig.com</a>
        </div>
        <div class="row">
            <div class="col geardown pullright">
                <span>8</span><i>Following</i>
            </div>
            <div class="col geardown pullright">
                <span>14</span><i>Followers</i>
            </div>
            <div class="col geardown pullright">
                <span>231</span><i>Shars</i>
            </div>
        </div>

        <div class="button-bar btn-soc">
            <a class="button button-small active">Post</a>
            <a class="button button-small">Media</a>
            <a class="button button-small">Favorites</a>
        </div>

        <ion-list class="avtar">
            <ion-item id="item{{$index}}" class="item-remove-animate item-avatar item-icon-right removepadding" type="item-text-wrap" ng-repeat="feed in feeds">
                <img class="littlebig" ng-src="img/Personn.jpg">
                <div class="contentright">
                    <div ng-click="opendetail(feed.id);">
                        <span class="namebold" ng-bind="feed.name"></span>
                        <span class="namegrey" ng-bind="feed.nameat"></span>
                        <span class="item-note"><i class="ion-ios-paper-outline"> 3m</i></span>
                        <p class="tweetcontent">My blog post on "Designing for SEO" has just gone live @moz <a class="removeline" href="graphit.as/mozblog">graphit.as/mozblog</a>
                        </p>
                        <img class="max80" ng-src="{{feed.image}}">
                    </div>
                    <div class="more" id="more{{$index}}" ng-style="{'height':feed.height}">
                        <div class="more-content">
                            <barhighchart obj='feed'></barhighchart>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col">
                            <button class="button button-icon ion-chevron-down bottomicons" ng-class="{'rotate':feed.more}" ng-click="changemore(feed,$index);"></button>
                        </div>
                        <div class="col">
                            <button class="button button-icon ion-android-star bottomicons"></button>
                        </div>
                        <div class="col">
                            <button class="button button-icon ion-android-share-alt bottomicons"></button>
                        </div>
                        <div class="col" ng-click="openPopover();">
                            <button class="button button-icon ion-android-more-vertical moredot"></button>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>




    </ion-content>
</ion-view>