<ion-view view-title="Home">
    <ion-content delegate-handle="mainScroll">
        <ion-list class="avtar">
            <ion-item id="item{{$index}}" class="item-remove-animate item-avatar item-icon-right removepadding" type="item-text-wrap" ng-repeat="feed in feeds">
                <img class="littlebig" ng-src="{{feed.image}}">
                <div class="contentright">
                    <div ng-click="opendetail(feed.id);">
                        <span class="namebold" ng-bind="feed.name"></span>
                        <span class="namegrey" ng-bind="feed.nameat"></span>
                        <span class="item-note"><i class="ion-ios-paper-outline"> {{feed.timestamp | time}}</i></span>
                        <p class="tweetcontent">{{feed.content}}<a class="removeline" href="graphit.as/mozblog">graphit.as/mozblog</a>
                        </p>
                        <img class="max80" ng-src="img/images.jpg">
                    </div>
                    <div class="more" id="more{{$index}}" ng-style="{'height':feed.height}">
                        <div class="more-content">
                            <barhighchart obj='feed'></barhighchart>
                        </div>
                    </div>
                    <div class="row nopadding">
                        <div class="col">
                            <button class="button button-icon ion-chevron-down bottomicons" ng-class="{'rotate':feed.more}" ng-click="changemore(feed,$index);"></button>
                        </div>
                        <div class="col">
                            <button class="button button-icon ion-android-star bottomicons"></button>
                        </div>
                        <div class="col">
                            <button class="button button-icon ion-android-share-alt bottomicons"></button>
                        </div>
                        <div class="col" ng-click="openPopover();">
                            <button class="button button-icon ion-android-more-vertical moredot"></button>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>