<ion-popover-view class="animate-if mypopover">
    <div class="bar bar-header bar-dark">
        <h1 class="title">Pick Images</h1>
    </div>
    <ion-content class="content has-header">
        
        <div class="poppadding">
            <button class="button button-block icon-left ion-social-facebook fbcolor">Camera</button>
            <button class="button button-block icon-left ion-camera fbcolor" ng-click="picFromGallery()">Gallery</button>
            <button class="button button-block icon-left ion-social-instagram-outline twicolor">Instagram</button>
            <button class="button button-block icon-left ion-social-whatsapp-outline whatsclor">Facebook</button>
        </div>
    </ion-content>
</ion-popover-view>