<ion-modal-view class="animate-if social-modal">
    <ion-header-bar class="bar-dark bar-header" align-title="center">
        <h1 class="title">Pick Images</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeuploadElements()">Skip</button>
        </div>
    </ion-header-bar>
    <ion-content class="content">
        <div class="row social-font">
           <div class="col">
           	<a class="ion-social-facebook" ng-click="facebookPhoto()"></a>
           </div>
           <div class="col">
           	<a class="ion-camera" ng-click="clickPhoto()"></a>
           </div>
           <div class="col">
           	<a class="ion-social-instagram-outline"></a>
           </div>
           <div class="col">
           	<a class="ion-images" ng-click="picFromGallery()"></a>
           </div>
        </div>
    </ion-content>
    <ion-footer-bar class=" bar-footer footerbar" align-title="center">
        <p class="title">Pick Images From Social Meadia</p>
    </ion-footer-bar>
</ion-modal-view>