<ion-view>
    <ion-content class="login-div">
        <div class="responsive-md content has-header">
            <div class="col">
                <button class="button icon-left ion-social-googleplus-outline button-block googcolor">
                    Google
                </button>
                <button class="button icon-left ion-social-twitter-outline button-block twicolor">
                    Twitter
                </button>
                <button class="button icon-left ion-social-facebook-outline button-block fbcolor">
                    Facebook
                </button>
                <button class="button icon-left ion-social-instagram-outline button-block instaclor">
                    Instagram
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>