<ion-modal-view>
    <ion-header-bar class="bar-royal bar-header" align-title="center">
        <h1 class="title">Create Attach</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Skip</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <label class="item item-input item-stacked-label" ng-class="allvalidation5[0].validation">
            <span class="input-label">Description</span>
            <textarea rows="4"></textarea>
        </label>


        <div class="productset">
            <div class="imageset">
                <ion-scroll direction="x">
                    <div class="row">

                        <div class="col col-33" ng-repeat="op in options">
                            <a href="#/tab/home/categoriess/{{slider.link}}">
                                <i class="icon hrt ion-heart"></i>
                                <img src="img/blue-album.jpg" class="full-image full-img">
<!--                                <p class="royal productprice">{{op.text}}</p>-->
                            </a>
                        </div>
                    </div>
                </ion-scroll>
            </div>
        </div>


        <div class="item-stacked-label">
            <button class="button button-royal button-small button-full"><i class="ion-android-upload upload"></i>
            </button>
        </div>

        <label class="item item-input" ng-class="allvalidation5[0].validation">
            <span class="input-label">Options</span>
        </label>


        <div class="list">
            <div class="item" ng-repeat="option in options">
                <label class="item-input text-wrap">
                    <input type="text" placeholder="Last Name" ng-model="option.text" ng-change="onChangeAdd($index)">
                </label>
            </div>
        </div>



        
        <div class="padding-horizontal" ng-click="saveAdditionalWarranty()">
            <!--            <button class="button button-balanced button-block button-outline">Save &#38; Add More</button>-->
            <button class="button button-royal button-block button-outline">Create &#38; Attach</button>
        </div>
    </ion-content>