<ion-modal-view>
	<ion-modal-content>
	<div class="bar bar-header item-input-inset pooja-search outsearch searchfont">
  <label class="item-input-wrapper">
<!--    <i class="icon ion-ios-search placeholder-icon"></i>-->
    <input type="search" placeholder="Search" style="color:#fff">
  </label>
  <button class="button button-clear" style="color:#fff" ng-click="closeModal();">
    Cancel
  </button>
</div>
<ul class="list">
   
    <li class="item recsearch">
<!--     <i class="ion-ios-search"></i>-->
      Recent searches
      <i class="icon ion-close-circled crossclass"></i>
     
    </li> 
      <hr class="hrline">
    <li class="item searchpad">
    <i class="ion-ios-search searchicon"></i>
      Recent Search 1
    </li> 
     <hr class="hrline">
    <li class="item searchpad">
    <i class="ion-ios-search searchicon"></i>
     Recent Search 2
    </li> 
     <hr class="hrline">
    <li class="item searchpad">
    <i class="ion-ios-search searchicon"></i>
     Recent Search 3
    </li> 
     <hr class="hrline">
    <li class="item searchpad">
    <i class="ion-ios-search searchicon"></i>
     Recent Search 4
    </li>
     <hr class="hrline">
    <li class="item searchpad">
    <i class="ion-ios-search searchicon"></i>
     Recent Search 5
    </li>
     <hr class="hrline">
</ul>
	</ion-modal-content>
</ion-modal-view>