<ion-view view-title="Home">
<!--
	<ion-nav-buttons side="right">
		<a class="button button-icon ion-android-search" href=""></a>
		<a class="button button-icon ion-ios-compose-outline" href=""></a>
	</ion-nav-buttons>
	<ion-nav-buttons side="left">
		<a class="button button-icon ion-ios-personadd-outline" href=""></a>
	</ion-nav-buttons>
-->
	<i class="ion-ios-undo" style="color:grey"></i>
	<ion-content class="padding">

		<div class="list">

			<div class="item item-thumbnail-left" href="">
				<img src='img/blue-album.jpg' />
				<!--
     <span class="item-note">
      @JustinGraphitas
		</span><h2>
-->
				<b>Justine Taylor</b>
				</h2>&nbsp;<span class="textgrey givespace">@JustinGraphitas</span>
				<i class="ion-android-menu usericon" style="color:grey"> 3m</i>

				<p style="color:black">My blog post on "Designing for SEO" has just
					<br> gone live on @moz</p><a href="www.google.com">buzzfeed.com/lisatozzi/repo...</a>
				<div class="row">
					<div class="col iconfontsize"><i class="ion-ios-undo"></i></div>
					<div class="col iconfontsize"><i class="ion-loop"></i>1</div>
					<div class="col iconfontsize"><i class="ion-ios-star"></i>4</div>
					<div class="col iconfontsize"><i class="ion-person-add usericon"></i>
					</div>
				</div>
			</div>
			<div class="item item-thumbnail-left" href="">
				<img src='img/images (1).jpg' />
				<!--
     <span class="item-note">
      @JustinGraphitas
		</span><h2>
-->
				<b>Lacy Alexander</b>
				</h2>&nbsp;<span class="textgrey givespace">@LacyGraphitas</span>
				<i class="ion-android-menu textgrey usericon"> 4m</i>

				<p style="color:black">Design with Impact - A guide to Webpage
					<br>Anatomy Infographic <a href="www.google.com">buzzfeed.com/lisatozzi/repo...</a></p>
				<img class="full-image" src="img/red-flower-1920x1080-wallpaper-wallpapers-mrwallpaper.jpg">
				<br>
				<i class=" ion-ios-upload" style="color:yellow"></i><span style="color:grey">&nbsp;Promoted by Lacy Alexander</span>

				<div class="row">
					<div class="col iconfontsize"><i class="ion-ios-undo"></i></div>
					<div class="col iconfontsize"><i class="ion-loop"></i></div>
					<div class="col iconfontsize"><i class="ion-ios-star"></i></div>
				</div>
			</div>

			<div class="item item-thumbnail-left" href="">
				<img src='img/blue-album.jpg' />
				<!--
     <span class="item-note">
      @JustinGraphitas
		</span><h2>
-->
				<b>Justine Taylor</b>
				</h2>&nbsp;<span class="textgrey givespace">@graphitas</span>
				<span class="usericon" style="color:grey">40s</span>

				<p style="color:black">Our MD @JustinGraphitas blog post on
					<br>"Designing for SEO" has just gone live on @moz
					<br><a href="www.google.com">buzzfeed.com/lisatozzi/repo...</a></p>

				<div class="row">
					<div class="col iconfontsize"><i class="ion-ios-undo"></i></div>
					<div class="col iconfontsize"><i class="ion-loop"></i>1</div>
					<div class="col iconfontsize"><i class="ion-ios-star"></i>4</div>
					<div class="col iconfontsize"><i class="ion-person-add usericon"></i>
					</div>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>