<ion-view view-title="Chats">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <img ng-src="{{chat.face}}">
                <span class="namebold">Justin Taylor</span>
                <span class="namegrey">@JustinGraphitas</span>
                <p class="tweetcontent">My blog post on "Designing for SEO" has just gone live @moz <a class="removeline" href="graphit.as/mozblog">graphit.as/mozblog</a>
                </p>
                <div class="row">
                    <div class="col"><i class="ion-reply bottomicons"></i>
                    </div>
                    <div class="col"><i class="ion-android-sync bottomicons"> 1</i>
                    </div>
                    <div class="col"><i class="ion-android-star bottomicons"> 4</i>
                    </div>
                    <div class="col"><i class="ion-android-person-add bottomiconsright"></i>
                    </div>
                </div>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>