<ion-view view-title="New">
  <ion-content class="padding">
   
  <div class="list">

    <a class="item item-thumbnail-left" href="#/tab/new2">
     <img src='http://www.oregon.gov/DAS/PublishingImages/80x80/1862_flower_80x80.jpg' />
      <h2>Justine Taylor</h2>
      <p>My blog post on "Designing for SEO" has just<br> gone live on @moz </p>

        <div class="row">
			<div class="col"><i class="ion-ios-undo"></i></div>
			<div class="col"><i class="ion-loop"></i></div>
			<div class="col"><i class="ion-ios-star"></i></div>
			<div class="col"><i class="ion-person-add"></i></div>
</div>
    </a>
</div>
   
  </ion-content>
</ion-view>


