<ion-view view-title="Profile">
  <ion-content class="padding">
   <div class="imageclass">
	<a class="pooja-img" href="#">
      <img src="img/ab93bee6f189864ca19c21020b4b64cc.jpg">
      <span class="whitetext">Ross Hammond</span>
       <span class="whitetextdown">@RossGraphitas</span>
    </a>
  </div>
  
  <div class="row withborders">
	  <div class="col colwidth colleft"><b>1,693</b><br><span style="color:grey">Tweets</span></div>
	  <div class="col colwidth"><b>404</b><br><span style="color:grey">Following</span></div>
	  <div class="col colwidth"><b>301</b><br><span style="color:grey">Followers</span></div>
  </div>
  <div class="row">
  <i class="button icon ion-gear-a"></i>
  <button class="button ion-person-add button-positive spacebet"><span class="spacefollow">Follow<span></button>
  </div>
  <hr class="hrtag">
  <div><i class="ion-ios-loop-strong iconsize"></i><span class="textcolor">Ross Hammond retweeted</span></div>
<!--  <a class="item item-thumbnail-left" href="">-->
    <div class="item item-thumbnail-left">
     <img src='img/blue-album.jpg' />
<!--
     <span class="item-note">
      @JustinGraphitas
		</span><h2>
-->
     <b>graphitas</b></h2>&nbsp;<span class="textgrey">@graphitas</span>
     <i class="ion-chatbubble pullright">3h</i>
      
      <p style="color:black">RT "@BuzzFeedNews: Reports Of Injuries<br>Following Explosion And Building<br>Collapse In New York</p>
<a href="www.google.com">buzzfeed.com/lisatozzi/repo...</a>
        <div class="row textgrey">
			<div class="col iconfontsize"><i class="ion-ios-undo"></i></div>
			<div class="col iconfontsize"><i class="ion-loop" style="color:green">1</i></div>
			<div class="col iconfontsize"><i class="ion-ios-star" style="color:yellow">4</i></div>
</div>

<!--    </a>-->
    </div>
     <div class="item item-thumbnail-left" href="">
     <img src='img/images (1).jpg' />
<!--
     <span class="item-note">
      @JustinGraphitas
		</span><h2>
-->
     <b>Ross Hammond</b></h2>&nbsp;<span class="textgrey">@Rossgraphitas</span>
     <i class="ion-chatbubble pullright"> 6d</i>
      
      <p style="color:black">RT "@BuzzFeedNews: Reports Of Injuries<br>Following Explosion And Building<br>Collapse In New York</p>
		<a href="www.google.com">buzzfeed.com/lisatozzi/repo...</a>
        <div class="row textgrey">
			<div class="col iconfontsize"><i class="ion-ios-undo"></i></div>
			<div class="col iconfontsize"><i class="ion-loop" style="color:green">1</i></div>
			<div class="col iconfontsize"><i class="ion-ios-star" style="color:yellow">4</i></div>
</div>
    </div> 
   </ion-content>
</ion-view>


