/* Empty. Add your own CSS if you like */

.bar.bar-stable .title {
    color: #fff;
}

.tab-item {
    color: #889aa6 !important;
}

.tab-item-active {
    color: #9b59b6 !important
}

.largeicon {
    font-size: 24px;
    position: relative;
    margin: 7px 13px 0px 9px;
}

.barheight {
    height: 50px;
}

.bar.bar-dark .title {
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0 !important;
    left: 0 !important;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nopadding {
    padding: 0px 0px 0px 0px
}

.list {
    position: relative;
    margin-top: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
    margin-bottom: 0px;
    /*    border-bottom-width: 1px;*/
    
    border-bottom-style: solid;
    border-bottom-color: #ccd6dd;
}

.retweeticon {
    font-size: 15px;
    color: #9aa9b3;
    margin-left: 60px;
}

.retweet {
    font-size: 14.4px;
    color: #9aa9b3;
    margin-left: 10px;
}

.onleft {
    float: left;
    max-width: 65px !important;
    max-height: 65px !important;
    height: 65px;
    border-radius: 5px;
}

.contentleft {
    float: left;
}

.item-note {
    float: right;
    color: #8f9fab;
    font-size: 14px;
    margin-right: 10px;
}

.namebold {
    font-size: 14.4px;
    font-weight: bold;
}

.namegrey {
    font-size: 14.4px;
    color: #8f9fab;
    font-weight: 300;
}

.tweetcontent {
    font-size: 14.4px;
}

.noborder {
    border-style: none;
    padding-left: 90px;
}

.bottomicons {
    float: left;
    font-size: 17px;
    color: #9aa9b3;
}

.bottomicons:hover {
    color: #9aa9b3;
}

.bottomiconsright {
    float: right;
    font-size: 25px;
    color: #9aa9b3;
}

.bottomiconsright:hover {
    color: #9aa9b3;
}

.removeline {
    text-decoration: none;
}

.imageauto {
    width: 100%;
    height: auto;
}
/*vignesh*/

.button.button-block.twicolor {
    background-color: #55acee;
    color: white;
    border: none;
}

.button-icon.button.activated.twicolor {
    color: #55acee;
    border: 1px solid #55acee;
    background: transparent;
}

.button.button-block.googcolor {
    background-color: #d73d32;
    color: white;
    border: none;
}

.button-icon.button.activated.googcolor {
    color: #d73d32;
    border: 1px solid #d73d32;
    background: transparent;
}

.button.button-block.fbcolor {
    background-color: #3a5795;
    color: white;
    border: none;
}

.button-icon.button.activated.fbcolor {
    color: #3a5795;
    border: 1px solid #3a5795;
    background: transparent;
}

.button.button-block.instaclor {
    background-color: #517fa4;
    color: white;
    border: none;
}

.button-icon.button.activated.instaclor {
    color: #517fa4;
    border: 1px solid #517fa4;
    background: transparent;
}

.whatsclor {
    background-color: #60b82d;
    color: white;
    border: none;
}

.logfont {
    font-size: 26px;
}
/*vignesh*/
/*jagruti css*/

.imageclass {
    background: url('../img/images.jpg')no-repeat;
    background-size: cover;
    min-height: 125px;
    width: 100%;
}

.proimage {
    width: 80px;
    height: 80px;
    margin: -33px 0 0 0;
    border: 5px solid white;
}

.prf-img h4 {
    margin: 0px;
}

.prf-func {
    margin: 10px 0px;
    float: right;
}

.geardown i {
    color: #A7A3A3;
}

.geardown span {
    margin-right: 5px;
    font-weight: 400;
}

.gearup .button.people.icon:before,
.gearup .button.people.icon-left:before,
.gearup .button.people.icon-right:before {
    line-height: 27px;
    font-size: 20px;
    color: #707570;
}

.gearup button.button.people {
    line-height: 28px;
    min-height: 30px;
    padding: 0px 10px;
    color: #707570;
    font-size: 12px;
    border-color: #B3A5A5;
}

.gearup .button-icon.icon:before {
    font-size: 26px;
    margin-top: -8px;
    color: #707570;
}
/* #9b59b6*/

.btn-left {
    margin-left: 11px;
}

.btn-right {
    margin-right: 11px;
}

.pullright {
    float: right;
}

.prf-list > div a {
    color: #9b59b6;
    text-decoration: none;
}

.prf-list > div i {
    color: #A7A3A3;
}

p.prf-name {
    font-weight: 600;
    margin: 0;
    font-size: 16px;
}

.prf-username {
    color: #A7A3A3;
    font-size: 12px;
}

.btn-soc > .button {
    border-color: #B3A5A5;
    color: black;
}

div.btn-soc a:first-child {
    margin-left: 2%;
}

div.btn-soc a:last-child {
    margin-right: 2%;
}

.about {
    padding-left: 2%;
}

.about i {
    padding: 0 10px;
    font-size: large;
    color: #B3A5A5;
}

.about p:first-child {
    font-weight: 400;
}

a {
    color: #9b59b6;
    text-decoration: none;
}
/*form validation*/

.error-container {
    margin: 5px 0;
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #555;
    vertical-align: middle;
}

.error i {
    font-size: 24px;
    color: #B83E2C;
    vertical-align: middle;
}

.last-error-container > .error {
    padding: 10px 16px 0;
}

.has-errors {
    border-bottom: 3px solid #B83E2C;
}

.no-errors {
    border-bottom: 3px solid green;
}

.upload {
    font-size: 35px;
}

.social-font {
    font-size: xx-large;
    font-color: gery;
}

.social-font .col {
    text-align: center;
}

.image-close {
    position: absolute;
    color: rgba(0, 0, 0, 0.72);
    font-size: large;
    margin-left: 24%;
}

.footerbar {
    background-color: rgba(0, 0, 0, 0.36);
    height: 30px !important;
}

.footerbar .title {
    font-size: 12px;
    line-height: 32px;
    color: #5C5C5C;
}

.social-font div > a {
    color: #9D9D9D;
}

.button-attach {
    border-color: #9B59B6 !important;
    background: transparent;
    color: #9B59B6 !important;
}
/*jagruti css*/
/*dhaval start*/

.littlebig {
    left: 8px !important;
    max-width: 60px !important;
    max-height: 60px !important;
    border-radius: 0 !important;
}

.contentright {
    padding-left: 8px;
}

p.tweetcontent {
    word-spacing: initial;
    white-space: initial;
    width: 95%;
}

.item-complex.item-icon-right .item-content {
    padding-right: 10px;
}

.max80 {
    width: 100%;
    margin-top: 10px;
}

.moredot {
    font-size: 22px;
    float: right;
    color: #9aa9b3;
}

.moredot:hover {
    color: #9aa9b3;
}

.removepadding {
    padding-right: 10px;
    padding-bottom: 0;
}

.animate-if.ng-enter,
.animate-if.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity: 1;
}

.mypopover {
    left: 50%;
    top: 25%;
    height: 233px;
    width: 230px;
}

.poppadding {
    padding: 0px 5px 0px 5px;
}

ion-list .more {
    -webkit-transition: all 1s;
    height: 0px;
    overflow: hidden;
}

.bottomicons {
    -webkit-transition: all 1s;
}

.rotate {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #9b59b6 !important;
}

.bar.bar-dark {
    border-color: #9b59b6;
    background-color: #9b59b6;
    background-image: -webkit-linear-gradient(90deg, #9b59b6, #9b59b6 50%, transparent 50%);
    background-image: linear-gradient(0deg, #9b59b6, #9b59b6 50%, transparent 50%);
    color: #fff;
}

.bar-dark .button {
    border-color: #9b59b6;
    background-color: #9b59b6;
    color: #fff;
}

.rotatebell {
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.ion-android-search:before {
    font-weight: bold;
}

.maximg {
    width: 100%;
    height: auto;
}

.button.button.button-icon.ion-social-googleplus.button-block.googcolor.logfont:hover {
    color: #fff;
    text-decoration: none;
}
/*

.button.button.button-icon.ion-social-instagram-outline.button-block.instaclor.logfont {
    color: #fff;
    text-decoration: none;
}
*/

.removeborder {
    padding-right: 10px;
    padding-bottom: 0;
    border-style: none;
}

.levelgraph {
    margin-top: 50px;
}

.spaceout {
    margin-top: 10px !important;
}

.fullbutton {
    background-color: #9b59b6 !important;
    border-color: #fff !important;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 3px;
}
}
.bottomiconsnofloat {
    float: none;
    font-size: 17px;
    color: #9aa9b3 !important;
}
.bottomiconsnofloat:hover {
    color: #9aa9b3 !important;
}
.incenter {
    text-align: center;
}
.nobordersearch {
    border: none;
    background-color: #9b59b6;
}
.item-input-wrapper {
    background-color: transparent;
    border: none;
}
.makeittransparent {
    background-color: transparent;
    padding-top: 0;
    border-bottom: none;
    padding-right: 0;
}
.searchwhite::-webkit-input-placeholder {
    color: #fff;
}
.searchwhite {
    color: #fff !important;
}
.searchwhitebig {
    color: #fff !important;
    font-size: larger;
}
.searchitem {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
.topone {
    margin-top: 1px;
}
.editbtns {
    font-size: 14.5px !important;
}
.editprofimg {
    left: 8px !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 0 !important;
}
.lesspadleft {
    padding: 7px 0px 4px 7px;
}
.inmiddle {
    vertical-align: 11px;
    font-size: 14px !important;
    font-weight: 500 !important;
    padding-left: 10px;
}
.editform {
    font-size: 14px;
    font-weight: 500;
}
.editformviolet {
    font-size: 14px !important;
    color: #9b59b6 !important;
}
.ontop {
    vertical-align: 20px;
    font-size: 14px !important;
    font-weight: 500 !important;
    padding-left: 10px;
}
.ontoplight {
    vertical-align: 20px;
    font-size: 14px !important;
}
.favactive {
    color: gold;
}
.no-connect h3 {
    text-align: center;
    width: 100%;
    color: #B9B9B9;
    padding-top: 50%;
}
.colorgrey {
    color: #9aa9b3;
}
/*dhaval end*/
/*Chintan Start*/

.button-icon.button.active,
.button-icon.button.activated {
    opacity: 1;
}
/*Chintan End*/

ion-modal-view.animate-if.social-modal {
    width: 90%;
    min-height: 140px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}